# Homebridge connection
HOMEBRIDGE_URL=http://homebridge:8581
HOMEBRIDGE_USERNAME=admin
HOMEBRIDGE_PASSWORD=changeme
# HOMEBRIDGE_OTP=
HOMEBRIDGE_NOAUTH=false

# Exporter settings
HOMEBRIDGE_EXPORTER_LISTEN_ADDR=:9090
HOMEBRIDGE_EXPORTER_CONFIG_PATH=/config/accessories.yaml
HOMEBRIDGE_EXPORTER_POLL_INTERVAL=30s
HOMEBRIDGE_EXPORTER_REQUEST_TIMEOUT=10s
